.description{
        text-align: justify;
        text-justify: inter-word;
}

#venue-header {
    position: relative;
    overflow: hidden;

}

#venue-header img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.img-text-block {
    /* position: absolute;
    bottom: 50%;
    right: 50%; */

    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text-block .text {
    background-color: black;
    color: white;
    width: 80%;
    opacity: 0.85;
}

.icon-line-height {
    line-height: 1.5;
}

.border-left-title {
    border-left: 6px solid #f90;
}

.service-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}