body, html {
    height: 100%;
    font-family: SFProDisplay-Semibold, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.haveAccount{
    border-style: solid;
    border-width: 5px;
    padding:2%;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.fullnamerow{
    margin-left:0%;
    margin-right:0%;
    justify-content: space-between;
}
#register-form{
    border-style: solid;
    border-width: 5px;
    padding:2%;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
}

.smallform{
    margin:10px;
}

#login-title{
    border-radius: 3px 3px;
}

#RememberMe{
    margin: 0% 0% 4% 5%;
    text-align:left;
}

.forgotPassword{
    margin: 4px
}

._6ltk {
    color: #606770;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:16px;
    text-align: center;
}

._6ltk::before{
    margin-right:1%;
    margin-left:5%;
    border-bottom: 5px solid #ccd0d5;
    content: '';
    flex: 1 1 auto;
}

._6ltk::after {
    margin-right:5%;
    margin-left:1%;
    border-bottom: 5px solid #ccd0d5;
    content: '';
    flex: 1 1 auto;
}

.incorrect{
    display:none;
    color:red"
}