.body{
    font-family: SFProDisplay-Semibold, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
}

.btn-additionSetting{
    display: inline;
}

.btn-additionSetting:focus{
    box-shadow: none;
}

.awesome-hover:hover{
    color: blue;
}